

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(/public/1679630358_bogatyr-club-p-fon-dlya-prezentatsii-pogoda-instagram-13.png);
  background-repeat: no-repeat;
  background-size: cover;
}

